In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
mpl.style.use('ggplot')

In [2]:
car=pd.read_csv('CarDataset.csv')

In [3]:
car.head()

,Model,Company,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5,12.50
2,Honda Jazz V,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5,4.50
3,Maruti Ertiga VDI,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7,6.00
4,Audi A4 New 2.0 TDI Multitronic,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5,17.74

In [4]:
car.shape

(6019, 13)

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Model              6019 non-null   object
 1   Company            6019 non-null   object
 2   Location           6019 non-null   object
 3   Year               6019 non-null   int64
 4   Kilometers_Driven  6019 non-null   int64
 5   Fuel_Type          6019 non-null   object
 6   Transmission       6019 non-null   object
 7   Owner_Type         6019 non-null   object
 8   Mileage            6019 non-null   object
 9   Engine             6019 non-null   object
 10  Power              6019 non-null   object
 11  Seats              6019 non-null   int64
 12  Price              6019 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 611.4+ KB

##### Creating backup copy

In [6]:
backup=car.copy()

## Quality

- names are pretty inconsistent
- names have company names attached to it
- some names are spam like 'Maruti Ertiga showroom condition with' and 'Well mentained Tata Sumo'
- company: many of the names are not of any company like 'Used', 'URJENT', and so on.
- year has many non-year values
- year is in object. Change to integer
- Price has Ask for Price
- Price has commas in its prices and is in object
- kms_driven has object values with kms at last.
- It has nan values and two rows have 'Petrol' in them
- fuel_type has nan values

## Cleaning Data

#### Changing Model names. Removing first word keeping rest as it is.

In [7]:
car['Model']=car['Model'].str.split().str.slice(start=0,stop=3).str.join(' ')

#### Changing Company names. Except first word removing rest of it.

In [8]:
car['Company']=car['Company'].str.split().str.get(0)

#### Year is in integer. Change to float

In [9]:
car['Year']=car['Year'].astype(int)

#### Kilometers_Driven is in integer. Change to float

In [10]:
car['Kilometers_Driven']=car['Kilometers_Driven'].astype(float)

#### In Mileage except number removing rest of it. Also changing it to float

In [11]:
car['Mileage']=car['Mileage'].apply(str).str.split().str.get(0).astype(float)

#### In Engine except number removing rest of it. Also changing it to float

In [12]:
car['Engine']=car['Engine'].apply(str).str.split().str.get(0).astype(float)

In [13]:
car=car[car['Engine']!='NaN']

#### Power has Null value. Removing it.

In [14]:
car=car[car['Power']!='null bhp']

#### In Power except number removing rest of it. Also changing it to float

In [15]:
car['Power']=car['Power'].apply(str).str.split().str.get(0).astype(float)

In [16]:
car=car[car['Power']!='NaN']

#### Seat has nan value. Removing it.

In [17]:
car=car[car['Seats']!='NaN']

In [18]:
#car=car[car['Seats'].str.isnumeric()]
car['Seats']=car['Seats'].astype(int)

#### Resetting the index of the final cleaned data

In [19]:
car=car.reset_index(drop=True)

## Cleaned Data

In [20]:
car

,Model,Company,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R,Maruti,Mumbai,2010,72000.0,CNG,Manual,First,26.60,998.0,58.16,5,1.75
1,Hyundai Creta 1.6,Hyundai,Pune,2015,41000.0,Diesel,Manual,First,19.67,1582.0,126.20,5,12.50
2,Honda Jazz V,Honda,Chennai,2011,46000.0,Petrol,Manual,First,18.20,1199.0,88.70,5,4.50
3,Maruti Ertiga VDI,Maruti,Chennai,2012,87000.0,Diesel,Manual,First,20.77,1248.0,88.76,7,6.00
4,Audi A4 New,Audi,Coimbatore,2013,40670.0,Diesel,Automatic,Second,15.20,1968.0,140.80,5,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Maruti,Delhi,2014,27365.0,Diesel,Manual,First,28.40,1248.0,74.00,5,4.75
6015,Hyundai Xcent 1.1,Hyundai,Jaipur,2015,100000.0,Diesel,Manual,First,24.40,1120.0,71.00,5,4.00
6016,Mahindra Xylo D4,Mahindra,Jaipur,2012,55000.0,Diesel,Manual,Second,14.00,2498.0,112.00,8,2.90
6017,Maruti Wagon R,Maruti,Kolkata,2013,46000.0,Petrol,Manual,First,18.90,998.0,67.10,5,2.65
6018,Chevrolet Beat Diesel,Chevrolet,Hyderabad,2011,47000.0,Diesel,Manual,First,25.44,936.0,57.60,5,2.50

In [21]:
car.describe(include='all')

,Model,Company,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
count,6019,6019,6019,6019.000000,6.019000e+03,6019,6019,6019,6019.000000,6019.000000,6019.000000,6019.000000,6019.000000
unique,689,30,11,NaN,NaN,5,2,4,NaN,NaN,NaN,NaN,NaN
top,Maruti Wagon R,Maruti,Mumbai,NaN,NaN,Diesel,Manual,First,NaN,NaN,NaN,NaN,NaN
freq,154,1211,790,NaN,NaN,3205,4299,4929,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,2013.358199,5.873838e+04,NaN,NaN,NaN,18.134526,1621.019438,112.848262,5.278618,9.479468
std,NaN,NaN,NaN,3.269742,9.126884e+04,NaN,NaN,NaN,4.582253,601.233576,53.601645,0.806850,11.187917
min,NaN,NaN,NaN,1998.000000,1.710000e+02,NaN,NaN,NaN,0.000000,72.000000,34.200000,2.000000,0.440000
25%,NaN,NaN,NaN,2011.000000,3.400000e+04,NaN,NaN,NaN,15.170000,1198.000000,77.000000,5.000000,3.500000
50%,NaN,NaN,NaN,2014.000000,5.300000e+04,NaN,NaN,NaN,18.150000,1493.000000,92.000000,5.000000,5.640000
75%,NaN,NaN,NaN,2016.000000,7.300000e+04,NaN,NaN,NaN,21.100000,1984.000000,138.100000,5.000000,9.950000
max,NaN,NaN,NaN,2019.000000,6.500000e+06,NaN,NaN,NaN,33.540000,5998.000000,560.000000,10.000000,160.000000

In [22]:
#car=car[car['Price']<121]

In [23]:
car=car[car['Seats']<=8]

In [24]:
#car=car[car['Engine']<4500]

In [25]:
car=car.reset_index(drop=True)

In [26]:
car.to_csv('Cleaned_CarDataset.csv')

In [27]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6011 entries, 0 to 6010
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Model              6011 non-null   object
 1   Company            6011 non-null   object
 2   Location           6011 non-null   object
 3   Year               6011 non-null   int32
 4   Kilometers_Driven  6011 non-null   float64
 5   Fuel_Type          6011 non-null   object
 6   Transmission       6011 non-null   object
 7   Owner_Type         6011 non-null   object
 8   Mileage            6011 non-null   float64
 9   Engine             6011 non-null   float64
 10  Power              6011 non-null   float64
 11  Seats              6011 non-null   int32
 12  Price              6011 non-null   float64
dtypes: float64(5), int32(2), object(6)
memory usage: 563.7+ KB

In [28]:
car.describe(include='all')

,Model,Company,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
count,6011,6011,6011,6011.000000,6.011000e+03,6011,6011,6011,6011.000000,6011.000000,6011.000000,6011.000000,6011.000000
unique,684,30,11,NaN,NaN,5,2,4,NaN,NaN,NaN,NaN,NaN
top,Maruti Wagon R,Maruti,Mumbai,NaN,NaN,Diesel,Manual,First,NaN,NaN,NaN,NaN,NaN
freq,154,1211,789,NaN,NaN,3197,4291,4924,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,2013.363833,5.868550e+04,NaN,NaN,NaN,18.142748,1620.018965,112.883196,5.272833,9.486303
std,NaN,NaN,NaN,3.262842,9.129409e+04,NaN,NaN,NaN,4.576666,600.972020,53.626316,0.791443,11.193759
min,NaN,NaN,NaN,1998.000000,1.710000e+02,NaN,NaN,NaN,0.000000,72.000000,34.200000,2.000000,0.440000
25%,NaN,NaN,NaN,2011.000000,3.400000e+04,NaN,NaN,NaN,15.200000,1198.000000,77.000000,5.000000,3.500000
50%,NaN,NaN,NaN,2014.000000,5.300000e+04,NaN,NaN,NaN,18.160000,1493.000000,92.700000,5.000000,5.640000
75%,NaN,NaN,NaN,2016.000000,7.300000e+04,NaN,NaN,NaN,21.100000,1984.000000,138.100000,5.000000,9.975000
max,NaN,NaN,NaN,2019.000000,6.500000e+06,NaN,NaN,NaN,33.540000,5998.000000,560.000000,8.000000,160.000000

### Checking relationship of Company with Price

In [29]:
car['Company'].unique()

array(['Maruti', 'Hyundai', 'Honda', 'Audi', 'Nissan', 'Toyota',
       'Volkswagen', 'Tata', 'Land', 'Mitsubishi', 'Renault',
       'Mercedes-Benz', 'BMW', 'Mahindra', 'Ford', 'Porsche', 'Datsun',
       'Jaguar', 'Volvo', 'Chevrolet', 'Skoda', 'Mini', 'Fiat', 'Jeep',
       'Smart', 'Ambassador', 'ISUZU', 'Force', 'Bentley', 'Lamborghini'],
      dtype=object)

In [30]:
car['Year'].unique()

array([2010, 2015, 2011, 2012, 2013, 2016, 2018, 2014, 2017, 2007, 2009,
       2008, 2019, 2006, 2005, 2004, 2002, 2000, 2003, 1999, 2001, 1998])

### Extracting Training Data

In [31]:
X=car[['Model','Company','Location','Year','Kilometers_Driven','Fuel_Type','Transmission','Owner_Type','Mileage','Engine','Power','Seats']]
y=car['Price']

In [32]:
X

,Model,Company,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
0,Maruti Wagon R,Maruti,Mumbai,2010,72000.0,CNG,Manual,First,26.60,998.0,58.16,5
1,Hyundai Creta 1.6,Hyundai,Pune,2015,41000.0,Diesel,Manual,First,19.67,1582.0,126.20,5
2,Honda Jazz V,Honda,Chennai,2011,46000.0,Petrol,Manual,First,18.20,1199.0,88.70,5
3,Maruti Ertiga VDI,Maruti,Chennai,2012,87000.0,Diesel,Manual,First,20.77,1248.0,88.76,7
4,Audi A4 New,Audi,Coimbatore,2013,40670.0,Diesel,Automatic,Second,15.20,1968.0,140.80,5
...,...,...,...,...,...,...,...,...,...,...,...,...
6006,Maruti Swift VDI,Maruti,Delhi,2014,27365.0,Diesel,Manual,First,28.40,1248.0,74.00,5
6007,Hyundai Xcent 1.1,Hyundai,Jaipur,2015,100000.0,Diesel,Manual,First,24.40,1120.0,71.00,5
6008,Mahindra Xylo D4,Mahindra,Jaipur,2012,55000.0,Diesel,Manual,Second,14.00,2498.0,112.00,8
6009,Maruti Wagon R,Maruti,Kolkata,2013,46000.0,Petrol,Manual,First,18.90,998.0,67.10,5
6010,Chevrolet Beat Diesel,Chevrolet,Hyderabad,2011,47000.0,Diesel,Manual,First,25.44,936.0,57.60,5

In [33]:
y.shape

(6011,)

### Applying Train Test Split

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=25)

In [35]:
from sklearn.ensemble import RandomForestRegressor

In [36]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

#### Creating an OneHotEncoder object to contain all the possible categories

In [37]:
ohe=OneHotEncoder(handle_unknown = 'ignore')
ohe.fit(X[['Model','Company','Location','Year','Kilometers_Driven','Fuel_Type','Transmission','Owner_Type','Mileage','Engine','Power','Seats']])

OneHotEncoder(handle_unknown='ignore')

#### Creating a column transformer to transform categorical columns

In [38]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['Model','Company','Location','Year','Kilometers_Driven','Fuel_Type','Transmission','Owner_Type','Mileage','Engine','Power','Seats']),
                                    remainder='passthrough')

#### Linear Regression Model

In [39]:
rf_reg = RandomForestRegressor()

#### Making a pipeline

In [40]:
pipe=make_pipeline(column_trans,rf_reg)

#### Fitting the  model

In [41]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Ambassador Classic Nova', 'Audi A3 35', 'Audi A4 1.8',
       'Audi A4 2.0', 'Audi A4 3.0', 'Audi A4 3.2', 'Audi A4 30',
       'Audi A4 35', 'Audi A4 New', 'Audi A6 2.0', 'Audi A6 2.7',
       'Audi A6 2.8', 'Audi A6 2011-2015', 'Audi A6 3.0', 'Audi A6 35',
       'Audi A7 2011-2...
       308.43 , 313.   , 320.   , 321.   , 333.   , 335.2  , 335.3  ,
       340.   , 362.07 , 362.9  , 364.9  , 367.   , 382.   , 387.3  ,
       394.3  , 395.   , 402.   , 421.   , 444.   , 450.   , 488.1  ,
       500.   , 503.   , 550.   , 552.   , 560.   ]),
                                                                            array([2, 4, 5, 6, 7, 8])]),
                                                  ['Model', 'Company',
                                                   'Location', 'Year',
                                                   'Kilometers_Driven',
                                                   'Fuel_Type', 'Transmission',
                                                   'Owner_Type', 'Mileage',
                                                   'Engine', 'Power',
                                                   'Seats'])])),
                ('randomforestregressor', RandomForestRegressor())])

In [42]:
y_pred=pipe.predict(X_test)

#### Checking R2 Score

In [43]:
r2_score(y_test,y_pred)

0.8404195190326719

#### Finding the model with a random state of TrainTestSplit where the model was found to give almost 0.92 as r2_score

In [44]:
scores=[]
for i in range(25):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    rf_reg = RandomForestRegressor()
    pipe=make_pipeline(column_trans,rf_reg)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [45]:
np.argmax(scores)

23

In [46]:
scores[np.argmax(scores)]

0.8891464111395346

#### The best model is found at a certain random state

In [47]:
import pickle

In [48]:
pickle.dump(pipe,open('RandomForestRegressorModel.pkl','wb'))

In [49]:
pipe.predict(pd.DataFrame([['Maruti Wagon R','Maruti','Mumbai',2010,72000,'CNG','Manual','First',26.6,998,58.16,5]], columns=['Model','Company','Location','Year','Kilometers_Driven','Fuel_Type','Transmission','Owner_Type','Mileage','Engine','Power','Seats']))

array([1.9651])

In [50]:
pipe.steps[0][1].transformers[0][1].categories[0]

array(['Ambassador Classic Nova', 'Audi A3 35', 'Audi A4 1.8',
       'Audi A4 2.0', 'Audi A4 3.0', 'Audi A4 3.2', 'Audi A4 30',
       'Audi A4 35', 'Audi A4 New', 'Audi A6 2.0', 'Audi A6 2.7',
       'Audi A6 2.8', 'Audi A6 2011-2015', 'Audi A6 3.0', 'Audi A6 35',
       'Audi A7 2011-2015', 'Audi A8 L', 'Audi Q3 2.0',
       'Audi Q3 2012-2015', 'Audi Q3 30', 'Audi Q3 35', 'Audi Q5 2.0',
       'Audi Q5 2008-2012', 'Audi Q5 3.0', 'Audi Q5 30', 'Audi Q7 3.0',
       'Audi Q7 35', 'Audi Q7 4.2', 'Audi Q7 45', 'Audi RS5 Coupe',
       'Audi TT 2.0', 'Audi TT 40', 'BMW 1 Series', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 6 Series', 'BMW 7 Series', 'BMW X1 M',
       'BMW X1 sDrive', 'BMW X1 sDrive20d', 'BMW X1 xDrive',
       'BMW X3 xDrive', 'BMW X3 xDrive20d', 'BMW X3 xDrive30d',
       'BMW X5 2014-2019', 'BMW X5 3.0d', 'BMW X5 X5', 'BMW X5 xDrive',
       'BMW X6 xDrive', 'BMW X6 xDrive30d', 'BMW Z4 2009-2013',
       'Bentley Continental Flying', 'Chevrolet Aveo 1.4',
       'Chevrolet Aveo 1.6', 'Chevrolet Aveo U-VA',
       'Chevrolet Beat Diesel', 'Chevrolet Beat LS', 'Chevrolet Beat LT',
       'Chevrolet Beat Option', 'Chevrolet Captiva LT',
       'Chevrolet Captiva LTZ', 'Chevrolet Cruze LTZ',
       'Chevrolet Enjoy 1.3', 'Chevrolet Enjoy 1.4',
       'Chevrolet Enjoy Petrol', 'Chevrolet Enjoy TCDi',
       'Chevrolet Optra 1.6', 'Chevrolet Optra Magnum',
       'Chevrolet Sail 1.2', 'Chevrolet Sail Hatchback',
       'Chevrolet Sail LT', 'Chevrolet Spark 1.0', 'Datsun GO NXT',
       'Datsun GO Plus', 'Datsun GO T', 'Datsun Redi GO',
       'Datsun redi-GO S', 'Datsun redi-GO T', 'Fiat Avventura MULTIJET',
       'Fiat Grande Punto', 'Fiat Linea 1.3', 'Fiat Linea Classic',
       'Fiat Linea Emotion', 'Fiat Linea T', 'Fiat Linea T-Jet',
       'Fiat Petra 1.2', 'Fiat Punto 1.2', 'Fiat Punto 1.3',
       'Fiat Punto 1.4', 'Fiat Punto EVO', 'Fiat Siena 1.2',
       'Force One LX', 'Ford Aspire Ambiente', 'Ford Aspire Titanium',
       'Ford Classic 1.4', 'Ford EcoSport 1.0', 'Ford EcoSport 1.5',
       'Ford Ecosport 1.0', 'Ford Ecosport 1.5',
       'Ford Ecosport Signature', 'Ford Endeavour 2.2',
       'Ford Endeavour 2.5L', 'Ford Endeavour 3.0L', 'Ford Endeavour 3.2',
       'Ford Endeavour 4x2', 'Ford Endeavour Hurricane',
       'Ford Endeavour Titanium', 'Ford Endeavour XLT', 'Ford Fiesta 1.4',
       'Ford Fiesta 1.5', 'Ford Fiesta 1.6', 'Ford Fiesta Classic',
       'Ford Fiesta Diesel', 'Ford Fiesta EXi', 'Ford Fiesta Titanium',
       'Ford Figo 1.2P', 'Ford Figo 1.5D', 'Ford Figo 2015-2019',
       'Ford Figo Aspire', 'Ford Figo Diesel', 'Ford Figo Petrol',
       'Ford Figo Titanium', 'Ford Freestyle Titanium',
       'Ford Fusion Plus', 'Ford Ikon 1.3', 'Ford Ikon 1.4',
       'Ford Ikon 1.6', 'Ford Mustang V8', 'Honda Accord 2.4',
       'Honda Accord 2001-2003', 'Honda Accord V6', 'Honda Accord VTi-L',
       'Honda Amaze E', 'Honda Amaze EX', 'Honda Amaze S',
       'Honda Amaze SX', 'Honda Amaze V', 'Honda Amaze VX',
       'Honda BR-V i-DTEC', 'Honda BR-V i-VTEC', 'Honda BRV i-VTEC',
       'Honda Brio 1.2', 'Honda Brio E', 'Honda Brio EX', 'Honda Brio S',
       'Honda Brio V', 'Honda Brio VX', 'Honda CR-V 2.0',
       'Honda CR-V 2.0L', 'Honda CR-V 2.4', 'Honda CR-V 2.4L',
       'Honda CR-V AT', 'Honda CR-V Petrol', 'Honda CR-V RVi',
       'Honda CR-V Sport', 'Honda City 1.3', 'Honda City 1.5',
       'Honda City Corporate', 'Honda City V', 'Honda City ZX',
       'Honda City i', 'Honda City i-DTEC', 'Honda City i-VTEC',
       'Honda Civic 2006-2010', 'Honda Civic 2010-2013', 'Honda Jazz 1.2',
       'Honda Jazz 1.5', 'Honda Jazz Active', 'Honda Jazz Exclusive',
       'Honda Jazz Mode', 'Honda Jazz S', 'Honda Jazz Select',
       'Honda Jazz V', 'Honda Jazz VX', 'Honda Mobilio E',
       'Honda Mobilio RS', 'Honda Mobilio S', 'Honda Mobilio V',
       'Honda WR-V Edge', 'Honda WRV i-VTEC', 'Hyundai Accent CRDi',
       'Hyundai Accent Executive', 'Hyundai Accent GLE',
       'Hyundai Accent GLS', 'Hyundai Creta 1.4', 'Hyundai Creta 1.6',
       'Hyundai EON 1.0', 'Hyundai EON D', 'Hyundai EON Era',
       'Hyundai EON LPG', 'Hyundai EON Magna', 'Hyundai EON Sportz',
       'Hyundai Elantra 1.6', 'Hyundai Elantra 2.0',
       'Hyundai Elantra CRDi', 'Hyundai Elantra SX', 'Hyundai Elite i20',
       'Hyundai Getz 1.3', 'Hyundai Getz 1.5', 'Hyundai Getz GLE',
       'Hyundai Getz GLS', 'Hyundai Getz GVS', 'Hyundai Grand i10',
       'Hyundai Santa Fe', 'Hyundai Santro AT', 'Hyundai Santro D',
       'Hyundai Santro DX', 'Hyundai Santro GLS', 'Hyundai Santro GS',
       'Hyundai Santro LP', 'Hyundai Santro LS', 'Hyundai Santro Xing',
       'Hyundai Sonata 2.4', 'Hyundai Sonata Embera',
       'Hyundai Sonata GOLD', 'Hyundai Sonata Transform',
       'Hyundai Tucson 2.0', 'Hyundai Tucson CRDi', 'Hyundai Verna 1.4',
       'Hyundai Verna 1.6', 'Hyundai Verna CRDi', 'Hyundai Verna SX',
       'Hyundai Verna Transform', 'Hyundai Verna VTVT',
       'Hyundai Verna XXi', 'Hyundai Verna Xi', 'Hyundai Xcent 1.1',
       'Hyundai Xcent 1.2', 'Hyundai i10 Asta', 'Hyundai i10 Era',
       'Hyundai i10 Magna', 'Hyundai i10 Magna(O)', 'Hyundai i10 Sportz',
       'Hyundai i20 1.2', 'Hyundai i20 1.4', 'Hyundai i20 2015-2017',
       'Hyundai i20 Active', 'Hyundai i20 Asta', 'Hyundai i20 Diesel',
       'Hyundai i20 Era', 'Hyundai i20 Magna', 'Hyundai i20 Sportz',
       'ISUZU D-MAX V-Cross', 'ISUZU MUX 4WD', 'Jaguar F Type',
       'Jaguar XE 2.0L', 'Jaguar XE Portfolio', 'Jaguar XF 2.0',
       'Jaguar XF 2.2', 'Jaguar XF 3.0', 'Jaguar XF Aero',
       'Jaguar XF Diesel', 'Jaguar XJ 2.0L', 'Jaguar XJ 3.0L',
       'Jaguar XJ 5.0', 'Jeep Compass 1.4', 'Jeep Compass 2.0',
       'Lamborghini Gallardo Coupe', 'Land Rover Discovery',
       'Land Rover Freelander', 'Land Rover Range', 'Mahindra Bolero DI',
       'Mahindra Bolero SLE', 'Mahindra Bolero SLX',
       'Mahindra Bolero VLX', 'Mahindra Bolero ZLX',
       'Mahindra Bolero mHAWK', 'Mahindra E Verito', 'Mahindra Jeep MM',
       'Mahindra KUV 100', 'Mahindra Logan Diesel',
       'Mahindra Logan Petrol', 'Mahindra NuvoSport N6',
       'Mahindra NuvoSport N8', 'Mahindra Quanto C2',
       'Mahindra Quanto C4', 'Mahindra Quanto C6', 'Mahindra Quanto C8',
       'Mahindra Renault Logan', 'Mahindra Scorpio 1.99',
       'Mahindra Scorpio 2.6', 'Mahindra Scorpio 2009-2014',
       'Mahindra Scorpio DX', 'Mahindra Scorpio LX',
       'Mahindra Scorpio S10', 'Mahindra Scorpio S2',
       'Mahindra Scorpio S4', 'Mahindra Scorpio S6',
       'Mahindra Scorpio S8', 'Mahindra Scorpio SLE',
       'Mahindra Scorpio SLX', 'Mahindra Scorpio VLX',
       'Mahindra Ssangyong Rexton', 'Mahindra TUV 300',
       'Mahindra Thar CRDe', 'Mahindra Thar DI', 'Mahindra Verito 1.5',
       'Mahindra XUV300 W8', 'Mahindra XUV500 AT', 'Mahindra XUV500 W10',
       'Mahindra XUV500 W4', 'Mahindra XUV500 W6', 'Mahindra XUV500 W7',
       'Mahindra XUV500 W8', 'Mahindra XUV500 W9', 'Mahindra Xylo D2',
       'Mahindra Xylo D4', 'Mahindra Xylo E2', 'Mahindra Xylo E4',
       'Mahindra Xylo E8', 'Mahindra Xylo H4', 'Maruti 1000 AC',
       'Maruti 800 AC', 'Maruti 800 DX', 'Maruti 800 Std',
       'Maruti A-Star AT', 'Maruti A-Star Lxi', 'Maruti A-Star Vxi',
       'Maruti Alto 800', 'Maruti Alto Green', 'Maruti Alto K10',
       'Maruti Alto LX', 'Maruti Alto LXI', 'Maruti Alto LXi',
       'Maruti Alto Std', 'Maruti Alto VXi', 'Maruti Alto Vxi',
       'Maruti Baleno Alpha', 'Maruti Baleno Delta', 'Maruti Baleno LXI',
       'Maruti Baleno RS', 'Maruti Baleno Sigma', 'Maruti Baleno Vxi',
       'Maruti Baleno Zeta', 'Maruti Celerio CNG', 'Maruti Celerio LDi',
       'Maruti Celerio LXI', 'Maruti Celerio VXI', 'Maruti Celerio ZDi',
       'Maruti Celerio ZXI', 'Maruti Ciaz 1.3', 'Maruti Ciaz 1.4',
       'Maruti Ciaz AT', 'Maruti Ciaz Alpha', 'Maruti Ciaz RS',
       'Maruti Ciaz VDI', 'Maruti Ciaz VDi', 'Maruti Ciaz VXi',
       'Maruti Ciaz ZDi', 'Maruti Ciaz ZXi', 'Maruti Ciaz Zeta',
       'Maruti Dzire AMT', 'Maruti Dzire LDI', 'Maruti Dzire New',
       'Maruti Dzire VDI', 'Maruti Dzire VXI', 'Maruti Dzire ZDI',
       'Maruti Eeco 5', 'Maruti Eeco 7', 'Maruti Eeco CNG',
       'Maruti Eeco Smiles', 'Maruti Ertiga LXI', 'Maruti Ertiga Paseo',
       'Maruti Ertiga SHVS', 'Maruti Ertiga VDI', 'Maruti Ertiga VXI',
       'Maruti Ertiga ZDI', 'Maruti Ertiga ZXI', 'Maruti Esteem LX',
       'Maruti Esteem Vxi', 'Maruti Estilo LXI', 'Maruti Grand Vitara',
       'Maruti Ignis 1.2', 'Maruti Ignis 1.3', 'Maruti Omni 5',
       'Maruti Omni 8', 'Maruti Omni E', 'Maruti Omni MPI',
       'Maruti Ritz AT', 'Maruti Ritz LDi', 'Maruti Ritz LXI',
       'Maruti Ritz LXi', 'Maruti Ritz VDI', 'Maruti Ritz VDi',
       'Maruti Ritz VXI', 'Maruti Ritz VXi', 'Maruti Ritz ZDi',
       'Maruti Ritz ZXI', 'Maruti Ritz ZXi', 'Maruti S Cross',
       'Maruti S-Cross Alpha', 'Maruti S-Cross Delta',
       'Maruti S-Cross Zeta', 'Maruti SX4 Green', 'Maruti SX4 S',
       'Maruti SX4 VDI', 'Maruti SX4 Vxi', 'Maruti SX4 ZDI',
       'Maruti SX4 ZXI', 'Maruti SX4 Zxi', 'Maruti Swift 1.3',
       'Maruti Swift AMT', 'Maruti Swift DDiS', 'Maruti Swift Dzire',
       'Maruti Swift LDI', 'Maruti Swift LXI', 'Maruti Swift LXi',
       'Maruti Swift Ldi', 'Maruti Swift Lxi', 'Maruti Swift RS',
       'Maruti Swift VDI', 'Maruti Swift VDi', 'Maruti Swift VVT',
       'Maruti Swift VXI', 'Maruti Swift VXi', 'Maruti Swift Vdi',
       'Maruti Swift ZDI', 'Maruti Swift ZDi', 'Maruti Swift ZXI',
       'Maruti Versa DX2', 'Maruti Vitara Brezza', 'Maruti Wagon R',
       'Maruti Zen Estilo', 'Maruti Zen LX', 'Maruti Zen LXI',
       'Maruti Zen LXi', 'Maruti Zen VX', 'Maruti Zen VXI',
       'Maruti Zen VXi', 'Mercedes-Benz A Class', 'Mercedes-Benz B Class',
       'Mercedes-Benz C-Class Progressive', 'Mercedes-Benz CLA 200',
       'Mercedes-Benz CLS-Class 2006-2010', 'Mercedes-Benz E-Class 200',
       'Mercedes-Benz E-Class 2009-2013',
       'Mercedes-Benz E-Class 2015-2017', 'Mercedes-Benz E-Class 220',
       'Mercedes-Benz E-Class 230', 'Mercedes-Benz E-Class 250',
       'Mercedes-Benz E-Class 280', 'Mercedes-Benz E-Class E',
       'Mercedes-Benz E-Class E250', 'Mercedes-Benz E-Class E270',
       'Mercedes-Benz E-Class E350', 'Mercedes-Benz E-Class E400',
       'Mercedes-Benz E-Class Facelift', 'Mercedes-Benz GL-Class 2007',
       'Mercedes-Benz GL-Class 350', 'Mercedes-Benz GLA Class',
       'Mercedes-Benz GLC 220', 'Mercedes-Benz GLC 220d',
       'Mercedes-Benz GLC 43', 'Mercedes-Benz GLE 250d',
       'Mercedes-Benz GLE 350d', 'Mercedes-Benz GLS 350d',
       'Mercedes-Benz M-Class ML', 'Mercedes-Benz New C-Class',
       'Mercedes-Benz R-Class R350', 'Mercedes-Benz S Class',
       'Mercedes-Benz S-Class 280', 'Mercedes-Benz S-Class 320',
       'Mercedes-Benz S-Class S', 'Mercedes-Benz SL-Class SL',
       'Mercedes-Benz SLC 43', 'Mercedes-Benz SLK-Class 55',
       'Mercedes-Benz SLK-Class SLK', 'Mini Clubman Cooper',
       'Mini Cooper 3', 'Mini Cooper 5', 'Mini Cooper Convertible',
       'Mini Cooper Countryman', 'Mini Cooper S',
       'Mini Countryman Cooper', 'Mitsubishi Cedia Sports',
       'Mitsubishi Lancer 1.5', 'Mitsubishi Lancer GLXD',
       'Mitsubishi Montero 3.2', 'Mitsubishi Outlander 2.4',
       'Mitsubishi Pajero 2.8', 'Mitsubishi Pajero 4X4',
       'Mitsubishi Pajero Sport', 'Nissan Evalia 2013',
       'Nissan Micra Active', 'Nissan Micra Diesel', 'Nissan Micra XE',
       'Nissan Micra XL', 'Nissan Micra XV', 'Nissan Sunny 2011-2014',
       'Nissan Sunny Diesel', 'Nissan Sunny XE', 'Nissan Sunny XL',
       'Nissan Sunny XV', 'Nissan Teana 230jM', 'Nissan Teana XV',
       'Nissan Terrano XL', 'Nissan Terrano XV', 'Nissan X-Trail SLX',
       'Porsche Boxster S', 'Porsche Cayenne 2009-2014',
       'Porsche Cayenne Base', 'Porsche Cayenne Diesel',
       'Porsche Cayenne S', 'Porsche Cayenne Turbo',
       'Porsche Cayman 2009-2012', 'Porsche Panamera 2010',
       'Porsche Panamera Diesel', 'Renault Captur 1.5',
       'Renault Duster 110PS', 'Renault Duster 85PS',
       'Renault Duster Adventure', 'Renault Duster Petrol',
       'Renault Duster RXZ', 'Renault Fluence 1.5', 'Renault Fluence 2.0',
       'Renault Fluence Diesel', 'Renault KWID 1.0', 'Renault KWID AMT',
       'Renault KWID Climber', 'Renault KWID RXL', 'Renault KWID RXT',
       'Renault Koleos 2.0', 'Renault Lodgy 110PS',
       'Renault Pulse Petrol', 'Renault Pulse RxL',
       'Renault Scala Diesel', 'Renault Scala RxL', 'Skoda Fabia 1.2',
       'Skoda Fabia 1.2L', 'Skoda Fabia 1.4', 'Skoda Fabia 1.6',
       'Skoda Laura 1.8', 'Skoda Laura 1.9', 'Skoda Laura Ambiente',
       'Skoda Laura Ambition', 'Skoda Laura Classic',
       'Skoda Laura Elegance', 'Skoda Laura L', 'Skoda Laura RS',
       'Skoda Octavia 1.9', 'Skoda Octavia 2.0', 'Skoda Octavia Ambiente',
       'Skoda Octavia Ambition', 'Skoda Octavia Classic',
       'Skoda Octavia Elegance', 'Skoda Octavia L', 'Skoda Octavia RS',
       'Skoda Octavia Rider', 'Skoda Octavia Style', 'Skoda Rapid 1.5',
       'Skoda Rapid 1.6', 'Skoda Rapid 2013-2016', 'Skoda Rapid Leisure',
       'Skoda Rapid Ultima', 'Skoda Superb 1.8', 'Skoda Superb 2.5',
       'Skoda Superb 2.8', 'Skoda Superb 2009-2014', 'Skoda Superb 3.6',
       'Skoda Superb Ambition', 'Skoda Superb Elegance',
       'Skoda Superb L&K', 'Skoda Superb Style', 'Skoda Yeti Ambition',
       'Skoda Yeti Elegance', 'Smart Fortwo CDI', 'Tata Bolt Quadrajet',
       'Tata Bolt Revotron', 'Tata Hexa XT', 'Tata Hexa XTA',
       'Tata Indica DLS', 'Tata Indica GLS', 'Tata Indica LEI',
       'Tata Indica V2', 'Tata Indica Vista', 'Tata Indigo CS',
       'Tata Indigo GLE', 'Tata Indigo LS', 'Tata Indigo LX',
       'Tata Indigo XL', 'Tata Indigo eCS', 'Tata Manza Aqua',
       'Tata Manza Aura', 'Tata Manza Club', 'Tata Manza ELAN',
       'Tata Nano CX', 'Tata Nano Cx', 'Tata Nano LX', 'Tata Nano Lx',
       'Tata Nano STD', 'Tata Nano Twist', 'Tata Nano XT',
       'Tata Nano XTA', 'Tata New Safari', 'Tata Nexon 1.2',
       'Tata Nexon 1.5', 'Tata Safari DICOR', 'Tata Safari Storme',
       'Tata Sumo Delux', 'Tata Sumo EX', 'Tata Tiago 1.2',
       'Tata Tiago AMT', 'Tata Tiago Wizz', 'Tata Tigor 1.05',
       'Tata Tigor 1.2', 'Tata Tigor XE', 'Tata Venture EX',
       'Tata Xenon XT', 'Tata Zest Quadrajet', 'Tata Zest Revotron',
       'Toyota Camry 2.5', 'Toyota Camry A/T', 'Toyota Camry Hybrid',
       'Toyota Camry W2', 'Toyota Camry W4', 'Toyota Corolla 1.8',
       'Toyota Corolla Altis', 'Toyota Corolla DX',
       'Toyota Corolla Executive', 'Toyota Corolla H2',
       'Toyota Corolla H4', 'Toyota Corolla H5', 'Toyota Etios 1.4',
       'Toyota Etios Cross', 'Toyota Etios G', 'Toyota Etios GD',
       'Toyota Etios Liva', 'Toyota Etios Petrol', 'Toyota Etios V',
       'Toyota Etios VD', 'Toyota Etios VX', 'Toyota Etios VXD',
       'Toyota Fortuner 2.8', 'Toyota Fortuner 3.0',
       'Toyota Fortuner 4x2', 'Toyota Fortuner 4x4',
       'Toyota Fortuner TRD', 'Toyota Innova 2.0', 'Toyota Innova 2.5',
       'Toyota Innova Crysta', 'Toyota Platinum Etios',
       'Toyota Prius 2009-2016', 'Toyota Qualis Fleet',
       'Volkswagen Ameo 1.2', 'Volkswagen Ameo 1.5',
       'Volkswagen Beetle 2.0', 'Volkswagen CrossPolo 1.5',
       'Volkswagen Jetta 2007-2011', 'Volkswagen Jetta 2012-2014',
       'Volkswagen Jetta 2013-2015', 'Volkswagen Passat 1.8',
       'Volkswagen Passat 2.0', 'Volkswagen Passat Diesel',
       'Volkswagen Passat Highline', 'Volkswagen Polo 1.0',
       'Volkswagen Polo 1.2', 'Volkswagen Polo 1.5',
       'Volkswagen Polo Diesel', 'Volkswagen Polo GT',
       'Volkswagen Polo GTI', 'Volkswagen Polo IPL',
       'Volkswagen Polo Petrol', 'Volkswagen Tiguan 2.0',
       'Volkswagen Vento 1.2', 'Volkswagen Vento 1.5',
       'Volkswagen Vento 1.6', 'Volkswagen Vento 2013-2015',
       'Volkswagen Vento Diesel', 'Volkswagen Vento IPL',
       'Volkswagen Vento Konekt', 'Volkswagen Vento Magnific',
       'Volkswagen Vento Petrol', 'Volkswagen Vento Sport',
       'Volkswagen Vento TSI', 'Volvo S60 D3', 'Volvo S60 D4',
       'Volvo S60 D5', 'Volvo S80 2006-2013', 'Volvo S80 D5',
       'Volvo V40 Cross', 'Volvo V40 D3', 'Volvo XC60 D4',
       'Volvo XC60 D5', 'Volvo XC90 2007-2015'], dtype=object)